@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
body {
    font-family: 'Roboto';
    font-size: 14px;
    color: #0A143A;

}
.header {
    padding: 30px 0 0 0;;
}
.contener {
    max-width: 1146px;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 24px 0;
}
.navbar-menu {
    margin: 0 auto 0 0;
}
.menu {
    list-style: none;
    padding: 0 0 0 20px;
    display: flex;
    margin: o;
}
.menu-item:not(:last-child){
    padding: 0 14px 0 0;
}
.menu-item:hover {
    transform: scale(1.1);
}
.menu-item:active {
    filter: brightness(3);
}
.menu-item-link {
    text-decoration: none;
    color: inherit;
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}
.button-link {
    color: inherit;
    height: 16px;
    line-height: 16px;
}
.button-link:hover{
    transform: scale(1.1);
}
.button-link:active{
    filter: brightness(3);
}
.button-primary {
    color:#fff;
    background-color: #256EEB;
    height: 16px;
    line-height: 16px;
    border-radius: 5px;
}
.button-primary:active{
    background-color: #fff;
    color: inherit;
}
.search-panel {
    height: 50px;
    background-color: #256EEB;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}
.search-input {
    flex-grow: 1;
    border-radius: 5px;
    border:none;
    padding: 14px 0 14px 22px;
}
.search-button {
    background-color: inherit;
    color: #fff;
    border:none;
    padding: 0 17px 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.search-button:active {
    background-color: #fff;
    color: inherit;
}
.search-button:active
.search-icon path{
    fill: #0A143A;
}
.search-button-text {
    margin: 0 0 0 5px;
}

/* Конец шапки */

.page-content {
    display: flex;
}
.content-cards {
    max-width: 852px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-cards-heading {
    margin: 40px 0 25px 0;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    height: 28px;
    font-weight: bold;
}
.card {
    margin: 0 0 20px 0;
    max-width: 264px;
}
.card-link {
    text-decoration: none;
}
.card-img {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
    margin: 0 0 12px 0;
}
.card-heading {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
.card-title {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    font-weight: bold;
    width: 225px;
}
.like {
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 0;
}
.card-price {
    display: block;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    color: #0A143A;
    font-weight: bold;
    margin: 5px 0 0 0;
}
.card-text {
    margin: 10px 0 4px;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    height: 16px;
}
.card-date {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    height: 16px;
}
.aside {
    max-width: 261px;
    margin: 50px 0 0 30px;
}

.aside-heading {
    margin: 0 0 23px 0;
    font-size: 18px;
    line-height: 21px;
    color: #0A143A;
    font-weight: bold;

}
.service {
    margin: 0 0 25px 0;
    display: block;
    text-decoration: none;
}
.service:last-child{
    margin: 35px;
}
.service-title {
    margin: 4px 0 5px;
    font-size: 14px;
    line-height: 16px;
    color: #0A143A;
    font-weight: bold;
}
.service-text {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #0A143A; 
    width: 231px;
}
hr {
    width: 261px;
    border: 1px solid #E5E5E5;
}
.footer {
    margin: 18px 0 0 0;
}
.footer-text {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin: 0 0 5px 0;
    display: inline-block;
}
.footer-menu {
    padding: 0;
    list-style: none;
    margin: 0;
}
.footer-menu:not(:last-child) {
    margin: 0 0 10px 0;
}
.footer-menu-item:not(:last-child) {
    margin: 0 0 5px 0;
}
.footer-link {
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    color: #0A143A;
    display: inline-block;
}
.content {
    max-width: 460px;
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 357px;
}

.mySwiper {
    height: 53px;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.content-text {
    font-size: 14px;
    line-height: 140%;
    color: #0A143A;
    word-break: break-all;
    max-width: 460px;
    margin: 30px 0 50px 0;
}
.main-single {
    display: flex;
    justify-content: space-between;
}
.author {
    margin: 40px 100px 0 40px;
    width: 264px;
}
.author-prise{
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: #0A143A;
    font-family: 'Roboto-Bold';
    margin-bottom: 25px;
}
.author-wrapper{
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
}
.auter-name {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto-Bold';
    margin-bottom: 7px;
}
.author-rating {
    margin-bottom: 5px;
}
.author-reviews {
    font-size: 14px;
    line-height: 16px;
    color: #0A143A;
    opacity: 0.5;
}
.author-status{
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
}
.author-photo{
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.button-author {
    width: 100%;
    height: 54px;
    border: none;
}
.button-message{
    background-color: #14B4BE;
    border-radius: 5px;
    color: #fff;
    margin: 15px 0 0 0;
}
.button-message:active {
    color: #14B4BE;
    background-color: #fff;
}